@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
}
body{
    background-color: #020114;
    overflow-x :hidden;
}
.gradient-text{
  background-image: linear-gradient(to bottom left, var(--tw-gradient-stops));
  --tw-gradient-from: #B000B5 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(113 102 238 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #7166EE var(--tw-gradient-to-position);
   color: transparent;
   background-clip: text;
}

