@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
}
body{
    overflow-x :hidden;
}
canvas{
  position: fixed;
      top: 0;
      left: 0;
      z-index: -1
}
.dark .gradient-text{
  background-image: linear-gradient(to bottom left, var(--tw-gradient-stops));
  --tw-gradient-from: #B000B5 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(113 102 238 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #7166EE var(--tw-gradient-to-position);
   color: transparent;
   background-clip: text;
}
 .gradient-text{
  background-image: linear-gradient(to top, var(--tw-gradient-from), var(--tw-gradient-to));
--tw-gradient-from: #5B000B;
--tw-gradient-to: #EEE617;
color: transparent;
background-clip: text;
}

@layer utilities {
  .glow {
    box-shadow: 0 0 50px 20px rgba(51, 107, 227, 0.75);
  }
}
[data-aos] {
  min-height: 100px;
}
.gradient-icon {
  font-size: 50px; /* Adjust as needed */
  background: linear-gradient(45deg, #B000B5, #7166EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* Ensures the icon behaves like text */
}
